@import "tailwindcss";

@theme {
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);

  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-card: var(--card);
  --color-card-gradient-primary: var(--card-gradient-primary);
  --color-card-gradient-secundary: var(--card-gradient-secundary);

  --color-text: var(--text);
  --color-text-muted: var(--text-muted);
}

@layer base {
  :root,
  [data-theme="light"] {
    /* Colors */
    --primary: #000000;
    --primary-foreground: #ffffff;
    --secondary: #00000038;

    /* Fondos */
    --background: #fffff;
    --surface: #ffffffad;
    --card: #f8f8f887;
    --card-gradient-primary: #000000;
    --card-gradient-secundary: #afafaf;

    /* Textos */
    --text: #3a3a3a;
    --text-muted: #878787;
  }

  [data-theme="dark"],
  .dark {
    /* Colors */
    --primary: #FFFFFF;
    --primary-foreground: #000;
    --secondary: #00000038;

    /* Fondos */
    --background: #0A0A0A;
    --surface: #ffffffad;
    --card: #f8f8f887;
    --card-gradient-primary: #000000;
    --card-gradient-secundary: #afafaf;

    /* Textos */
    --text: #3a3a3a;
    --text-muted: #878787;
  }

  body {
    background-color: var(--background);
    color: var(--text);
    transition:
      background-color 0.2s ease,
      color 0.2s ease;
  }
}

/* THEME SAMPLE:P
    --background:;
    --surface:;
    --card:;
    --card-gradient-primary:;
    --card-gradient-secundary:;

    --text:;
    --text-muted:;
    --text-subtle:;

    --border:;
    --divider:;

    --primary:;
    --primary-foreground:;
    --progress-track:;
    --progress-fill:; 
    */
